* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #5d9ab0;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	font-size: 1.25em;
	font-weight: bold;
	margin: 0.625em 0;
	color: #355865;
}
h2 {
	color: #355865;
	font-size:1.125em;
}
p {
	font-size: 1em;
	margin-bottom: 0.625em;
	color: #536064;
}
a {
	color: #355865;
}
form {
	font-size: 1em;
}
#wrapper {
	margin: 0.625em auto;
	width: 90%;
	text-align: center;
	background-color: #ffffff;
	border: 5px solid #536065;
	border-radius: 0.625em;
}
.asterisk {
	font-size: 0.75em;
	color: #355865;
	padding-bottom: 0.625em;
}
.box{
	border:2px solid #536065;
	border-radius: 0.625em;
	width:80%;
	margin:0 auto 0.625em auto;
	background-color:#BAE9BA;
	padding:0.625em;
}
.box div{
	color:#536064;
	font-size:0.875em;
}
#footer{
	font-size:0.75em;
}
